@import './mixins';
@import './common/scrollbar';
@import './common/layout';
@import './common/reader';

@include make-flex;

* {
  outline: none;
  cursor: default;
  box-sizing: border-box;
  font-family: Arial, "Microsoft YaHei", sans-serif;
  &[disabled]:hover {
    cursor: not-allowed;
  }
}

html, body, #reader{
  height: 100%;
  width: 100%;
  -webkit-user-select: none;
  margin: 0;
}

.row{
  padding: 0;
  margin: 0;
}
