// rgb
$color-theme: rgb(2, 187, 0);
$color-theme-red: rgb(253, 65, 33);
$color-theme-blue: rgb(0, 169, 253);
$background-dark: rgb(58, 58, 58);
$background-light: rgb(242, 242, 242);
$background-white: rgb(255, 255, 255);
$background-nav-blue: rgb(52, 152, 219);
$background-nav-dark: rgb(30, 30, 35);
$text-light: rgb(208, 208, 208);
$text-grey: rgb(99, 104, 110);
$text-dark: rgb(30, 30, 30);
$text-white: rgb(255, 255, 255);
$border-light: rgb(221, 221, 221);
$border-dark: rgb(30, 30, 30);
$border-grey: rgb(99, 104, 110);

// rgba
$alpha-dark-low: rgba(0, 0, 0, 0.12);
$alpha-dark-middle: rgba(0, 0, 0, 0.5);
$alpha-dark-high: rgba(0, 0, 0, 0.8);
$alpha-light-low: rgba(255, 255, 255, 0.12);
$alpha-light-middle: rgba(255, 255, 255, 0.5);
$alpha-light-high: rgba(255, 255, 255, 0.8);
