@import "./basecolor";

.reader-header{
  text-align: center;
  font-size: 20px;
  padding: 10px 0;
  border-bottom: 1px solid $alpha-dark-low;
  background-color: $background-white;
}

.reader-content{
  flex-grow: 1;

  .content{
    padding: 10px 16px;
    overflow-y: auto;
  }

  .reader-pagination{
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid $alpha-dark-low;
    .reader-btn{
      display: inline;
      margin: 0 10px;
      border: 1px solid $alpha-dark-low;
      border-radius: 2px;
      padding: 6px 10px;

      &:hover{
        background-color: $alpha-dark-low;
        cursor: pointer;
      }
      &:hover{
        background-color: $alpha-dark-middle;
        cursor: pointer;
      }
    }
  }
}
